table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.myDiv {
  border: 5px outset red;
  background-color: lightblue;    
}
img:hover{
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}
